.center {
  text-align: center;
}

#quickTable {
  border:          1px solid #949494;
  border-collapse: collapse;

  thead {
    th, td {
      background-color: #ccc;
    }
  }

  th, td {
    border:  1px solid #949494;
    padding: 5px;
  }
}

.sort-order {
  color:   #949494;
  display: inline-block;
  width:   0.625em;
  height:  1em;

  svg {
    position: relative;
    top:      0;
    left:     0;
    color:    #949494;
    width:    auto;
    height:   1em;

    path {
      fill: #949494;
    }
  }

  &.desc {
    svg {
      top: 0.3em;
    }
  }
}

#export-div {
  font-family: monospace;
  white-space: pre;
  padding:     10px;
}

.searchbox {
  box-sizing: border-box;
  width:      100%;
  padding:    5px;
}